:root {
  // Colors
  --color-bg: white;
  --color-fg: black;
  --color-text-mute: #353535;
  --color-primary: #6251a2;
  --color-secondary: #b07902;
  --color-tertiary: #24c1e0;
  --color-bg-dark: #eee;
  --color-primary-dark: #2e264b;
  --color-secondary-dark: #805800;
  --color-primary-transparent: #6251a233;

  // Breakpoints
  --breakpoint-phone: 480;
  --breakpoint-tablet: 768;
  --breakpoint-desktop: 1200;

  // Dimensions
  --border-radius: 6px;
}

// Dark Theme Colors
[data-theme="dark"] {
  --color-bg: black;
  --color-fg: white;
  --color-bg-dark: #111;
  --color-text-mute: #ccc;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  color: var(--color-fg);
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.4em;

  @media (max-width: var(--breakpoint-phone)px) {
    font-size: 1rem;
    line-height: 1.3em;
  }
}

img {
  border-radius: var(--border-radius);
}

p {
  font-size: 1.2rem;
  line-height: 1.6em;
  color: var(--color-text-mute);

  b,
  em {
    color: var(--color-fg);
  }

  @media (max-width: 768px) {
    font-size: 1rem;
    line-height: 1.5em;
  }
}

a {
  color: var(--color-secondary);

  &:hover {
    color: var(--color-secondary-dark);
  }
}

blockquote {
  background: var(--color-primary-transparent);
  border-left: 2px solid var(--color-primary);
  padding: 0.4rem 2rem 1.2rem;
  margin: 3.2rem 0;

  p {
    font-family: "IBM Plex Serif", serif;
    font-style: italic;
    font-size: 1.8rem;
    line-height: 1.4em;
    color: var(--color-fg);

    &:before {
      content: "“";
    }
    &:after {
      content: "”";
    }

    &:before,
    &:after {
      color: var(--color-text-mute);
    }
  }

  ul {
    margin: 0.8rem 0 0;
    padding: 0;
  }

  li {
    text-align: end;
    display: block;
    color: var(--color-text-mute);
    font-size: 1.2rem;
    font-style: normal;

    &:before {
      content: "— ";
    }
  }

  @media (max-width: var(--breakpoint-phone)px) {
    margin: 2rem 0;
    padding: 0.4rem 1.2rem 0.8rem;

    p {
      font-size: 1.2rem;
      line-height: 1.2em;
    }

    li {
      font-size: 1rem;
    }
  }
}

li {
  color: var(--color-text-mute);
  line-height: 1.8;

  @media (max-width: 768px) {
    font-size: 1rem;
    line-height: 1.5em;
  }
}

figure {
  margin: 1.2rem 0 0;
  display: flex;
  align-items: center;
  flex-flow: column;
}

img,
video {
  max-width: 100%;
  height: auto;
}

figcaption {
  margin-top: 1.2rem;
  text-align: center;
  font-size: 0.9em;
  font-style: italic;
}

strong {
  color: var(--color-fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

h1 {
  font-size: 3.2rem;
  line-height: 1.2em;

  @media (max-width: 768px) {
    font-size: 3rem;
    line-height: 1.1em;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 1.3em;
  margin: 5rem 0 1.2rem;

  @media (max-width: 768px) {
    font-size: 2rem;
    line-height: 1.2em;
  }
}

h3 {
  color: var(--color-secondary);
  font-size: 1.1em;
  font-weight: 300;
  margin: 2rem 0 -0.8rem;
  line-height: 1.2;
}

h4,
h5,
h6 {
  color: var(--color-fg);
  font-size: 1rem;
  font-weight: 400;
}

.autolink-heading {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  position: relative;

  .autolink-heading {
    border-bottom: 1px dotted transparent;
    text-decoration: none;

    &:hover {
      border-bottom: 1px dotted var(--color-text-mute);

      &:after {
        position: absolute;
        margin-left: 0.8rem;
        content: "🔗";
        font-size: 0.5em;
      }
    }
  }
}

/* TABLE STYLES */

table {
  margin-bottom: 20px;
  width: 100%;
}

th {
  color: rgb(255, 63, 86);
  font-weight: 600;
  text-align: left;
  background: #222;
}

table th,
table td {
  padding: 8px;
  line-height: 1.5rem;
}

table tr:nth-child(even) {
  background: #121212;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* FLICKITY */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: #333;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}
